{% extends "base.html" %}
{% block head_title %}
SpiceStore - About
{% endblock %}
{% block content %}
<section class="landing">
    <div class="container-box blue-box">
        <center>
        <h2 class="title is-2 has-text-grey-dark">Our Specialities</h2> </center>
        <p class="subtitle is-3 has-text-grey-dark">For a quarter century, we are selling spices for the food industry’s leading brands and flavor houses.Our focus on quality is infused with autenticity of the spices which makes us different from others. We deliver the flavors and formulations that makes good food taste great.</p>

    </div>
</section>
{% endblock content %}