{% extends "base.html" %}
{% block head_title %}
SpiceStore - Home
{% endblock %}
{% block content %}
<section class="landing">
    <div class="container-box">
        <center>
        <h2 class="title is-2 has-text-link-light"> SamSpices</h2> </center>
        <p class="subtitle is-3 has-text-link-light">We believe great flavors begin with great ingredients. Delivering classic and authentic spices that help products and the brands behind them satisfy consumer cravings.</p>
        <div class="is-flex is-justify-content-center is-align-content-center">
            <a href="/products" class="button is-info are-large is-rounded ">Explore</a>
        </div>

    </div>
</section>
{% endblock content %}