{% extends "base.html" %}
{% block head_title %}
SpiceStore - Orders
{% endblock %}
{% block extra_head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}

{% block content %}
<main>
    <div class="container">

        <div class="table-responsive text-nowrap">
            <h2>Orders History</h2>
            <table class="table">
                <thead>
                    <tr class="table-danger">
                        <th scope=" col">#</th>
                        <th scope="col">Item title</th>
                        <th scope="col">Item Price</th>
                        <th scope="col">Offer Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Item Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="table-warning">
                        <td colspan="4">{{order.get_order_ref}} &emsp;&emsp; {{order.get_order_date}} &emsp;&emsp;
                            {{order.get_order_status_text}}</td>

                        <td colspan="2">
                            {% if order.refund_granted %}
                            <a class='btn btn-success float-right bg-dark text-white' href=""> Refunded</a>
                            {% elif order.is_on_refund_period %}
                            <a class='btn btn-primary float-right bg-dark text-white'
                                href="{% url 'core:request-refund' order.ref_code %}">Request
                                Refund</a>
                            {% else %}
                            <a class='btn btn-danger float-right bg-dark text-white' href=""> Return Window Closed</a>

                            {% endif %}
                        </td>
                    </tr>
                    {% for order_item in order.items.all %}
                    <tr>
                        <th scope=" row">{{ forloop.counter }}</th>
                        <td>{{ order_item.item.title }}</td>
                        <td>Rs {{ order_item.item.price }}</td>
                        <td>Rs {{ order_item.item.discount_price }}</td>
                        <td>
                            {{ order_item.quantity }}

                        </td>
                        <td>
                            {% if order_item.item.discount_price %}
                            Rs {{ order_item.get_total_discount_item_price }}

                            {% else %}
                            Rs {{ order_item.get_total_item_price }}
                            {% endif %}

                        </td>
                    </tr>

                    {% endfor %}
                    {% if order.coupon %}
                    <tr class="table-success">
                        <td colspan="5"><b>Coupon</b></td>
                        <td><b>-Rs {{ order.coupon.amount }}</b></td>
                    </tr>
                    {% endif %}
                    {% if order.get_total %}
                    <tr class="table-primary">
                        <td colspan="5"><b>Order Total</b></td>
                        <td><b>Rs {{ order.get_total }}</b></td>
                    </tr>

                    {% endif %}
                    <tr>
                        <td colspan="6"><b></b></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='6'>No orders</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</main>

{% endblock content %}
{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
{% endblock %}